<ul class="menu">
    <li>
    	<a href="https://poweredbypurdy.com"><i class="fa fa-globe"></i></a> 
    </li>
    <li>
    	<a href="https://twitter.com/IAmTheParty_God"><i class="fa fa-twitter"></i></a> 
    </li>
    <li>
    	<a href="https://github.com/joepurdy"><i class="fa fa-github"></i></a>
    </li>
    <li>
    	<a href="{{@blog.url}}/rss/"><i class="fa fa-rss"></i></a>
    </li>
</ul>
<span class ="quote">Stay in touch!</span>